@import 'bootstrap/dist/css/bootstrap.min.css';

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #1f2a37;
}
